body{

font-family: Arial;
text-align: center;
background-color: #f0f0f0;
font-size: 80px;
}

#tabuleiro{

width: 200px;
margin: 20px auto;
display: grid;
grid-template-columns: repeat(3,600px);

}

.casa{

width: 100px;
height: 100px;
border: 2px solid black;
font-size: 80px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
background: white;

}

.casa:hover{

background: #eee;

}

button{

padding:10px 20px;
margin:10px;
font-size:60px;

}

footer{

margin-top:40px;
padding:15px;
background:#222;
color:white;
position:fixed;
bottom:0;
width:100%;

}

#resultado{

position: fixed;
top:0;
left:0;
width:100%;
height:100%;

background: rgba(0,0,0,0.8);

display:none;

align-items:center;
justify-content:center;
flex-direction:column;

color:white;
font-size:80px;
font-weight:bold;

z-index:1000;

}

#resultado button{

font-size:60px;
padding:15px 30px;
margin-top:30px;

}
